[submodule "LFS-GUI"]
	path = LFS-GUI
	url = https://github.com/FattyMieo/LFS-GUI.git
    branch = master
[submodule "FMODProject"]
	path = FMODProject
	url = ../FMODProject.git # Using relative path for GitLab CI
[submodule "Lightmaps"]
	path = Content/ProjectX/Lightmaps
	url = ../HouseOfIgnotus-Lightmaps.git # Using relative path for GitLab CI
